.set-group:not(:first-child) 
{
	display: none;
}

input[type="file"]
{
	height:auto;
}

select, .select2-container
{
	width:100% !important;
}

.right
{
	text-align: right;
}

.bold
{
	font-weight: bold;
}

table td.dice-label
{
	width:15%;
}