@import url("custom.css");

body 
{
	/*margin-top: 40px;*/
	/*text-align: center;*/
	/*font-size: 14px; */
	/*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
}

.main-content {
	padding-top: 25px;
}

#inputDateRange[readonly] {
	cursor: pointer;
}

#calendar
{
	/*width: 900px;*/
	margin: 0 auto;
}

.fc-event {
	cursor: pointer;
}

.filters-container > .panel-heading {
	padding: 2px 15px;
}

.filters-container > .panel-heading > .label {
	margin-left: 10px;
}